<a
	[routerLink]="[`/products/id/${item()._id}`]"
	routerLinkActive="router-link-active"
	class="productCard m-3 block w-56 transition-all"
>
	<div class="relative h-80">
		<img
			class="h-full w-full rounded-t-md object-cover object-top"
			[src]="item().imageUrl"
			[alt]="item().title"
		/>

		@if (item().discount > 0) {
			<div
				class="absolute top-2 right-2 rounded bg-red-500 px-2 py-1 text-white"
			>
				-{{ item().discount }}%
			</div>
		}
	</div>

	<div
		class="text z-50 grid min-h-46 grid-cols-1 items-center rounded-b-md bg-[#1C1C1C] p-4 transition-all duration-300 ease-in-out"
	>
		<p class="text-sm font-medium text-gray-500">{{ item().brand }}</p>

		<h3 class="mt-1 line-clamp-2 text-base font-semibold text-white">
			{{ item().title }}
		</h3>

		<div class="mt-2 flex items-center gap-2">
			<span class="text-lg font-bold">{{
				item().price * (1 - item().discount / 100) | currency: "INR"
			}}</span>
			@if (item().discount > 0) {
				<span class="text-sm text-red-500 line-through">{{
					item().price | currency: "INR"
				}}</span>
			}
		</div>

		<div class="mt-2 flex gap-2">
			@for (size of item().sizes; track size.name) {
				<span
					class="flex items-center justify-center px-2 py-1 text-xs"
					[class.hidden]="size.quantity === 0"
				>
					{{ size.name }}
				</span>
			}
			@if (item().quantity === 0) {
				<span class="w-full text-center font-bold text-red-500 uppercase"
					>out of stock</span
				>
			}
		</div>
	</div>
</a>
