<a routerLink="/order/2c05a73a-2a35-429b-b758-0092ef8b0667">
	<div class="box">
		<div class="grid grid-cols-6">
			<div class="col-span-3 flex w-full items-center">
				<img
					class="size-36 rounded-md"
					src="https://picsum.photos/200/300?random=1"
					alt="Product Image"
				/>

				<div class="ml-5 self-start">
					<div class="text-lg font-semibold">Product title</div>
					<div class="text-gray-400">Size: M</div>
					<div class="text-gray-400">Color: Blue</div>
				</div>
			</div>

			<div class="col-span-1">
				<p class="text-lg font-semibold">₹ 2000</p>
			</div>
			<div class="col-span-2">
				<p class="text-sm">Expected delivery on 30 May</p>
				<p class="text-sm">In delivery</p>
			</div>
		</div>
	</div>
</a>
