<a [routerLink]="['/order', order()._id]">
	<div class="box flex flex-col items-center md:block">
		<div class="grid grid-cols-1 gap-4 md:grid-cols-5">
			<div
				class="flex w-full flex-col gap-y-4 md:col-span-3 md:flex-row md:gap-y-0"
			>
				<img
					class="size-36 rounded-md"
					[src]="order().orderItems[0].product.imageUrl"
					alt="Product Image"
				/>

				<div class="self-start md:ml-5">
					<p class="text-lg font-semibold">Order details</p>
					<p class="text-gray-400">
						Order date: {{ order().orderDate | date }}
					</p>
					<p class="text-gray-400">Products: {{ order().orderItems.length }}</p>
				</div>
			</div>

			<div>
				<p class="text-lg font-semibold">Price</p>
				<p class="text-sm">
					{{
						order().discount !== 0
							? order().totalDiscountedPrice
							: order().totalPrice
					}}
				</p>
			</div>
			<div>
				<p class="text-lg font-semibold">Status</p>
				<p class="text-sm uppercase">{{ order().orderStatus }}</p>
			</div>
		</div>
	</div>
</a>
