<main class="flex items-center justify-center">
	@if (order()) {
		<section class="container mt-16 px-5 lg:px-20">
			<div class="box my-5 rounded-md p-5 shadow-lg">
				<app-address-card [address]="order()?.shippingAddress" />
			</div>

			<div
				class="relative grid grid-cols-1 justify-between gap-5 py-5 lg:grid-cols-3"
			>
				<div class="col-span-2">
					<div class="box space-y-3 rounded-md">
						@for (
							item of order()?.orderItems;
							track item._id;
							let last = $last
						) {
							<app-product-item [productWrapper]="item" />
							@if (!last) {
								<mat-divider />
							}
						}
					</div>
				</div>

				<section class="sticky top-0 col-span-1 mt-5 h-screen lg:mt-0">
					<app-order-summary
						[discount]="order()?.discount"
						[totalDiscountedPrice]="order()?.totalDiscountedPrice"
						[totalPrice]="order()?.totalPrice"
					>
						@if (order()?.paymentDetails?.paymentStatus !== "completed") {
							<a [routerLink]="['/account', 'orders', order()?._id]">
								<button
									(click)="payOrder()"
									class="w-full rounded-md!"
									mat-raised-button
								>
									PAY NOW
								</button>
							</a>
						} @else {
							<a
								mat-raised-button
								class="w-full rounded-md!"
								[routerLink]="['/order', id()]"
								>Payment complete</a
							>
						}
					</app-order-summary>
				</section>
			</div>
		</section>
	} @else {
		<app-empty-state-message>
			LOGIN OR REGISTER TO SEE YOUR PAYMENT STATUS
		</app-empty-state-message>
	}
</main>
