<div class="container">
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-3 lg:col-span-2 xl:col-span-1">
			<div class="h-12 w-12">
				<img
					class="rounded-full bg-white"
					[src]="review().user.imageUrl ?? 'default-user-icon.png'"
				/>
			</div>
		</div>
		<div class="col-span-6 lg:col-span-10">
			<div class="space-y-2">
				<div>
					<p class="font-bold">{{ review().user.firstName }}</p>
					<p class="opacity-70">{{ review().createdAt | date }}</p>
				</div>
				<p>{{ review().review }}</p>
				<app-star-rating [rating]="rating()" />
			</div>
		</div>
	</div>
</div>
