<div class="container shadow-2xs">
	<div class="grid justify-center gap-3 sm:grid-cols-6">
		<div
			class="col-span-5 justify-self-center sm:col-span-1 sm:justify-self-start"
		>
			<div class="flex w-full items-center">
				<img
					class="w-16 rounded-full bg-white"
					[src]="review().user.avatarImg ?? 'default-user-icon.png'"
				/>
			</div>
		</div>
		<div class="col-span-5">
			<div class="space-y-2">
				<div>
					<p class="font-bold">{{ review().user.firstName }}</p>
					<p class="opacity-70">{{ review().createdAt | date }}</p>
				</div>
				<p>{{ review().review }}</p>
				<app-star-rating [rating]="rating()?.rating" />
			</div>
		</div>
	</div>
</div>
