<main class="flex min-h-[80vh] flex-col items-center">
	<div class="container p-4 lg:px-20 lg:py-10">
		@if (orders()) {
			<h1 class="my-24 text-center text-xl font-bold">My Orders</h1>
			<div class="flex flex-col items-center justify-center">
				<div class="space-y-5">
					<div class="flex flex-col gap-y-8">
						@for (order of orders(); track order) {
							<app-order-card [order]="order" />
						}
					</div>
				</div>
			</div>
		} @else {
			<div class="flex h-[90vh] items-center justify-center">
				<p class="text-2xl">YOU HAVE NO ORDERS YET OR LOG IN</p>
			</div>
		}
	</div>
</main>
