<main class="flex min-h-[90vh] flex-col items-center">
	@if (ordersLoading()) {
		<app-loading-cirle class="flex h-[90vh] items-center py-16" />
	} @else if (orders()?.length ?? 0 !== 0) {
		<div class="container p-4 md:py-16 lg:px-20">
			<h1 class="my-24 text-center text-xl font-bold">My Orders</h1>
			<div class="flex flex-col items-center justify-center">
				<div class="space-y-5">
					<div class="flex flex-col gap-y-8">
						@for (order of orders(); track order) {
							<app-order-card [order]="order" />
						}
					</div>
				</div>
			</div>
		</div>
	} @else {
		<app-empty-state-message
			>YOU HAVE NO ORDERS YET OR LOG IN</app-empty-state-message
		>
	}
</main>
