<div class="flex items-center justify-center">
	@if (productLoading()) {
		<app-loading-cirle
			class="flex h-[90vh] items-center justify-center pt-16"
		/>
	} @else if (product()) {
		<div class="container mt-10 p-5 lg:p-10">
			<app-product-details-path [path]="product()?.path" />

			<section>
				<app-product-details-product-info
					[productDetails]="product()?.details"
				/>
			</section>
			<section>
				<app-product-details-reviews
					[numRatings]="product()?.details?.numRatings"
					[ratings]="ratings()"
					[reviews]="reviews()"
				/>
			</section>

			<app-product-details-related-products
				[relatedProducts]="relatedProducts()"
			/>
		</div>
	} @else {
		<app-empty-state-message class="text-red-500"
			>PRODUCT NOT FOUND</app-empty-state-message
		>
	}
</div>
