<div class="flex items-center justify-center">
	<div class="container mt-10 p-5 lg:p-10">
		<p class="py-10 text-gray-500">product/clothes/women/saree</p>

		<section class="grid-cols-3 lg:grid lg:gap-10">
			<div class="col-span-2 flex flex-col items-center">
				<img
					src="https://rukminim1.flixcart.com/image/612/612/xif0q/jean/h/y/g/34-jeans-bt008-laheja-original-imagqqbsfgmdhcvn.jpeg?q=70"
					alt=""
				/>
			</div>

			<div class="col-span-1 mt-10 space-y-10 lg:mt-0">
				<div class="space-y-2">
					<p class="text-lg font-semibold text-gray-600">Nofilter</p>
					<h1 class="text-2xl">Men Solid Pure Cotton Straight Kurta</h1>
				</div>
				<div class="flex flex-col items-start space-x-5">
					<div class="flex items-center gap-4">
						<p class="text-2xl">₹ 2600</p>
						<div class="rounded bg-red-500 px-2 py-1 text-xl text-white">
							20%
						</div>
					</div>
					<p class="text-lg text-gray-700 line-through">₹ 4000</p>
				</div>
				<div>
					<p class="text-lg font-semibold">Size</p>
					<mat-radio-group
						class="space-x-5"
						aria-label="Select an option"
						[(ngModel)]="selectedSize"
					>
						<mat-radio-button value="S">S</mat-radio-button>
						<mat-radio-button value="M">M</mat-radio-button>
						<mat-radio-button value="L">L</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="flex justify-center gap-2">
					<input
						type="number"
						class="w-1/2 rounded-xl bg-white p-2 text-black lg:w-24"
						[defaultValue]="1"
						[min]="1"
					/>
					<button mat-raised-button class="w-1/2 rounded-xl! p-6 lg:w-full">
						Add To Cart
					</button>
				</div>
				<div class="text-justify">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, officia
					laborum consectetur consequuntur, velit perspiciatis molestiae
					obcaecati laudantium aspernatur doloremque sed aut id illum hic.
				</div>
			</div>
		</section>
		<section class="space-y-5 pt-20 pb-10">
			<h2 class="text-xl font-semibold">Recent Review & Rating</h2>

			<div class="rounded-md p-5">
				<div class="grid-cols-12 gap-7 lg:grid">
					<div class="col-span-7">
						<div class="space-y-6">
							@for (review of reviews; track review) {
								<div>
									<app-product-review-card />
								</div>
							}
						</div>
					</div>
					<div class="col-span-5 mt-10 lg:mt-0">
						<app-product-rating />
					</div>
				</div>
			</div>
		</section>

		<div class="mt-10">
			<h3 class="py-5 text-xl font-semibold">Related Products</h3>

			<div class="flex flex-wrap justify-around">
				@for (product of testProduct(); track product.uuid) {
					<app-product-card [item]="product" />
				}
			</div>
		</div>
	</div>
</div>
