<div class="custom-scrollbar box overflow-y-scroll rounded-md py-5 shadow-md">
	<div class="flex cursor-pointer flex-col gap-4 p-5 py-7">
		@for (address of addresses(); track address; let last = $last) {
			<app-address-card [address]="address" />

			<a routerLink="payment/2c05a73a-2a35-429b-b758-0092ef8b0667">
				<button
					class="w-full! rounded-md! bg-gray-500! p-7!"
					mat-raised-button
					(click)="createOrder()"
				>
					Deliver Here
				</button>
			</a>

			@if (!last) {
				<mat-divider />
			}
		}
	</div>
</div>
