<div
	class="custom-scrollbar max-h-[70vh] overflow-y-auto rounded-md py-5 shadow-md"
>
	<div class="flex cursor-pointer flex-col gap-4 p-5 py-7">
		@for (address of addresses(); track address; let last = $last) {
			<app-address-card [address]="address" />

			<button
				class="w-full! rounded-md! p-7!"
				mat-raised-button
				(click)="
					mode() === 'delivery'
						? orderAddress.emit(address)
						: deleteAddressId.emit(address._id)
				"
			>
				{{ mode() === "delivery" ? "Deliver Here" : "Delete Address" }}
			</button>

			@if (!last) {
				<mat-divider />
			}
		}
	</div>
</div>
