<mat-drawer-container
	[class]="sidenavStatus() ? 'translate-x-0' : '-translate-x-full'"
	class="top-0 left-0 flex h-screen max-w-screen bg-transparent! transition-all duration-300 ease-in-out"
>
	<mat-drawer
		[opened]="sidenavStatus()"
		class="z-55 max-w-screen bg-white!"
		mode="side"
	>
		<a
			class="text-font flex w-full items-center justify-between p-4"
			routerLink="/"
			(click)="sidenavToggle.emit(!sidenavStatus())"
		>
			<h2 class="text-2xl font-bold">Hindu Store</h2>
			<img
				class="w-17"
				ngSrc="logo.png"
				width="68"
				height="68"
				aria-label="store logo"
			/>
		</a>

		<div class="mat-drawer-inner-container text-font max-h-6/10! bg-white p-4">
			<button
				(click)="sidenavToggle.emit(!sidenavStatus())"
				aria-label="close menu"
			>
				<mat-icon
					class="icon-close absolute right-1/2 bottom-24 translate-x-1/2 cursor-pointer"
					>close</mat-icon
				>
			</button>

			@for (item of content(); track item.id) {
				<app-mobile-category-accordion
					(toggleNav)="sidenavToggle.emit(!sidenavStatus())"
					[content]="item"
				/>
			}
		</div>
	</mat-drawer>
</mat-drawer-container>
<div
	class="absolute top-0 left-0 h-screen w-screen backdrop-blur"
	[class]="sidenavStatus() ? 'block' : 'hidden'"
	(click)="sidenavToggle.emit(!sidenavStatus())"
></div>
