:host {
	--mdc-filled-text-field-container-color: white;

	// Angular Material form theming
	--mdc-filled-text-field-input-text-color: #000000;
	--mdc-filled-text-field-label-text-color: #000000;

	--mat-sys-on-surface-variant: #89361b;

	--mat-sys-on-error-container: #ff0000;
	--mdc-filled-text-field-error-label-text-color: #ff0000;
	--mdc-filled-text-field-error-focus-label-text-color: #ff0000;
	--mdc-filled-text-field-focus-label-text-color: #89361b;
}

.hide-scrollbar {
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
