<div
	class="box flex h-full cursor-pointer flex-col overflow-hidden rounded-lg transition-all duration-500 hover:scale-105"
>
	<div class="relative h-116 w-full">
		<img
			class="absolute inset-0 h-full w-full object-cover object-center"
			[src]="product().imageUrl"
			alt="{{ product().title }}"
		/>
	</div>

	<div class="flex min-h-20 flex-col justify-between p-4">
		<h3 class="color-primary text-sm font-medium">
			{{ product().brand }}
		</h3>
		<p class="mt-2 line-clamp-2 text-xs text-gray-500">
			{{ product().title }}
		</p>
	</div>
</div>
