<div class="flex flex-col items-center gap-4 p-4 lg:flex-row">
	<div class="size-42">
		<img
			class="h-full w-full rounded-sm object-cover object-top"
			[ngSrc]="productWrapper().product.imageUrl"
			width="168"
			height="168"
			[alt]="`image of ${productWrapper().product.title}`"
		/>
	</div>

	<div class="ml-5 space-y-1">
		<p class="font-semibold">{{ productWrapper().product.title }}</p>
		<p class="text-gray-500">
			Size: {{ productWrapper().size }},
			{{ productWrapper().product.color }}
		</p>
		<p class="text-gray-500">Seller : {{ productWrapper().product.brand }}</p>
		@if (productWrapper().quantity !== 1) {
			<p class="text-gray-500">Quantity: {{ productWrapper().quantity }}</p>
		}

		@if (productWrapper().product.discount === 0) {
			<p class="text-xl">
				{{ productWrapper().price | currency: "INR" }}
			</p>
		} @else {
			<div class="flex flex-col justify-center gap-x-2 pt-3">
				<div class="flex items-center gap-4">
					<p class="text-xl">
						{{ productWrapper().product.discountedPrice | currency: "INR" }}
					</p>
					<div class="text-md rounded bg-red-500 px-2 py-1 text-white">
						{{ productWrapper().product.discount }} %
					</div>
				</div>
				<p class="text-md text-gray-700 line-through">
					{{ productWrapper().product.price | currency: "INR" }}
				</p>
			</div>
		}
	</div>
</div>
