<div class="p-5">
	<app-product-item [productWrapper]="cartItem()" />

	<div class="flex items-center justify-between pt-6 lg:space-x-10">
		<div
			class="flex w-full flex-col items-center justify-center gap-6 sm:flex-row sm:justify-between"
		>
			<div class="button-group flex items-center gap-4">
				<button
					class="rounded-full! bg-gray-800!"
					aria-label="Decrease amount by 1"
					mat-mini-fab
					[disabled]="count() === 1"
					(click)="decrement()"
				>
					<mat-icon class="text-gray-300!">remove</mat-icon>
				</button>
				<span class="rounded-sm border border-gray-800 px-7 py-1">
					<p>{{ count() }}</p>
				</span>
				<button
					class="rounded-full! bg-gray-500!"
					mat-mini-fab
					aria-label="Increase amount by 1"
					(click)="increment()"
				>
					<mat-icon class="text-gray-900!">add</mat-icon>
				</button>
			</div>

			<button (click)="removeItem()" class="rounded-md!" mat-raised-button>
				Remove
			</button>
		</div>
	</div>
</div>
