<main class="container sm:px-6 lg:px-20 lg:py-10">
	<div
		class="mt-24 flex flex-col justify-between border-gray-200 px-4 pb-6 lg:flex-row lg:items-center"
	>
		<h1 class="pb-6 text-3xl lg:pb-0">Products</h1>

		<div class="flex items-center justify-around gap-4 text-lg">
			<button
				class="lg:hover:text-primary flex w-full items-center justify-center gap-1 border-2 p-4 transition-colors duration-200 lg:cursor-pointer lg:border-none"
				[matMenuTriggerFor]="menu"
			>
				<div class="flex">
					<mat-icon>filter_alt</mat-icon>
					<p>Sort</p>
				</div>
				<mat-icon>keyboard_arrow_down</mat-icon>
			</button>
			<mat-menu class="w-screen bg-white!" #menu="matMenu">
				<button
					(click)="selectedFilters('price-low-high', 'sort')"
					mat-menu-item
				>
					<mat-icon class="text-md text-black!">paid</mat-icon>
					<span class="text-md text-black!">Price ascending</span>
				</button>
				<button
					(click)="selectedFilters('price-high-low', 'sort')"
					mat-menu-item
				>
					<mat-icon class="text-md text-black!">paid</mat-icon>
					<span class="text-md text-black!">Price descending</span>
				</button>
			</mat-menu>
			<button
				(click)="openBottomSheet()"
				class="flex w-full items-center justify-center gap-1 border-2 p-4 lg:hidden"
			>
				<span class="text-lg">Filters</span>
				<mat-icon>filter_list</mat-icon>
			</button>
		</div>
	</div>
	<mat-divider class="hidden! lg:block!" />

	<section class="pt-6">
		<div
			class="grid gap-8 gap-y-10 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5"
		>
			<div
				class="custom-scrollbar hidden h-[90vh] overflow-x-hidden overflow-y-scroll pr-4 lg:sticky lg:top-20 lg:block"
			>
				<div class="flex items-center justify-between">
					<p class="text-lg">Filters</p>
					<button
						class="size-10!"
						[routerLink]="['/products', levelOne(), levelTwo(), levelThree()]"
						mat-fab
					>
						<mat-icon>filter_list_off</mat-icon>
					</button>
				</div>
				<form class="hidden min-h-[60vh] lg:block">
					<app-products-filters
						(productFilter)="setFilter($event)"
						[minPrice]="minPrice()"
						[maxPrice]="maxPrice()"
						[stock]="stock()"
						[color]="color()"
						[discount]="discount()"
						[maxAllowedPrice]="MAX_ALLOWED_PRICE"
						[minAllowedPrice]="MIN_ALLOWED_PRICE"
						[size]="size()"
					/>
				</form>
			</div>

			<div class="md:col-span-3 lg:col-span-3 xl:col-span-4">
				<div
					class="grid min-h-[100vh] w-full grid-cols-1 items-start md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
				>
					@if (productState().length === 0) {
						<p
							class="col-span-full py-54 text-center text-lg text-red-500 uppercase"
						>
							no product found with this criteria
						</p>
					} @else {
						@for (item of productState(); track item._id) {
							<app-product-card
								class="flex items-center justify-center"
								[routerLink]="['/products', 'id', item._id]"
								[item]="item"
							/>
						}
					}
					@if (productState().length !== 0) {
						<mat-paginator
							class="col-span-full self-end"
							[length]="totalProducts()"
							(page)="handlePageEvent($event)"
							[pageSizeOptions]="[12, 24, 36]"
							aria-label="Select page"
						/>
					}
				</div>
			</div>
		</div>
	</section>
</main>
