<nav
	[class]="sidenavOpen() ? 'pb-0' : 'pb-15'"
	class="lg:b-15 lg:relative"
	(mouseleave)="hideNavContent()"
>
	<div
		class="fixed top-0 right-0 left-0 z-50 flex h-16 justify-center text-lg transition-all duration-200 ease-in-out"
		[class]="sidenavOpen() ? 'bg-transparent' : 'bg-white'"
	>
		<div class="container flex">
			<div class="absolute top-0 left-0 flex lg:hidden">
				<mat-drawer-container
					[class]="sidenavOpen() ? 'translate-x-0' : '-translate-x-full'"
					class="top-0 left-0 flex h-screen max-w-screen bg-transparent! transition-all duration-300 ease-in-out"
				>
					<mat-drawer [opened]="sidenavOpen()" #drawer class="z-55" mode="side">
						<div class="mat-drawer-inner-container text-font bg-white p-4">
							<mat-icon
								(click)="sidenavOpen.set(!sidenavOpen())"
								class="icon-close absolute right-1/2 bottom-24 translate-x-1/2 cursor-pointer"
								>close</mat-icon
							>
							<a
								class="flex w-full items-center justify-between pb-4"
								routerLink="/"
							>
								<h1 class="text-2xl font-bold">Hindu Store</h1>
								<img class="w-17" src="logo.png" alt="Hindu Clothes " />
							</a>

							<div class="flex flex-col">
								<button
									class="hover:text-primary flex cursor-pointer justify-between pb-2 text-start text-2xl"
									(click)="filterToggleMen.set(!filterToggleMen())"
								>
									<p>Man</p>
									<mat-icon>{{
										!filterToggleMen() ? "add" : "remove"
									}}</mat-icon>
								</button>

								@if (filterToggleMen()) {
									<div class="flex flex-col pb-4 pl-2">
										@for (section of content().men.sections; track section.id) {
											<app-accordion
												class="block w-full items-start lg:hidden"
												[name]="section.name"
											>
												@for (item of section.items; track item.id) {
													<a
														class="hover:text-primary cursor-pointer p-1 pl-2"
														routerLink="/"
														>{{ item.name }}</a
													>
												}
											</app-accordion>
										}
									</div>
								}
							</div>

							<div class="s flex flex-col">
								<button
									class="hover:text-primary flex cursor-pointer justify-between pb-2 text-start text-2xl"
									(click)="filterToggleWomen.set(!filterToggleWomen())"
								>
									<p>Women</p>
									<mat-icon>{{
										!filterToggleWomen() ? "add" : "remove"
									}}</mat-icon>
								</button>

								@if (filterToggleWomen()) {
									<div class="flex flex-col pb-4">
										@for (
											section of content().women.sections;
											track section.id
										) {
											<app-accordion
												class="block w-full items-start lg:hidden"
												[name]="section.name"
											>
												@for (item of section.items; track item.id) {
													<a
														class="hover:text-primary cursor-pointer p-1"
														routerLink="/"
														>{{ item.name }}</a
													>
												}
											</app-accordion>
										}
									</div>
								}
							</div>
						</div>
					</mat-drawer>
				</mat-drawer-container>
				<button
					class="absolute top-0 left-0 h-screen w-screen backdrop-blur"
					[class]="sidenavOpen() ? 'block' : 'hidden'"
					(click)="sidenavOpen.set(!sidenavOpen())"
				></button>
			</div>
			<div
				class="flex w-full items-center justify-between px-3 py-2 font-medium"
			>
				<div class="text-font flex items-center gap-2">
					<a href="/">
						<img
							class="w-17 cursor-pointer"
							src="logo.png"
							alt="Hindu Clothes "
							[class]="sidenavOpen() ? 'invisible' : 'block'"
						/>
					</a>

					<div class="hidden cursor-pointer items-center gap-4 lg:flex">
						<a href="/">
							<h1
								(mouseenter)="showMenContent.set(false)"
								(mouseenter)="showWomenContent.set(false)"
								class="hover:text-primary transition-colors duration-200 ease-in-out"
							>
								Hindu Clothes
							</h1>
						</a>
						<a
							(mouseenter)="showMenContent.set(true)"
							(mouseenter)="showWomenContent.set(false)"
							class="hover:text-primary transition-colors duration-200 ease-in-out"
							routerLink="/"
							>Men</a
						>
						<a
							(mouseenter)="showWomenContent.set(true)"
							(mouseenter)="showMenContent.set(false)"
							class="hover:text-primary transition-colors duration-200 ease-in-out"
							routerLink="/"
							>Women</a
						>
					</div>
				</div>

				<div
					class="text-font hidden items-center gap-2 transition-all duration-200 ease-in-out lg:flex"
				>
					<a routerLink="cart">
						<mat-icon class="icon m-2 cursor-pointer">shopping_cart</mat-icon>
					</a>

					<button mat-raised-button class="hide button">
						<mat-icon class="mr-2">login</mat-icon>
						LOGIN
					</button>

					<div>
						<div
							[matMenuTriggerFor]="menu"
							class="hover:text-primary flex cursor-pointer items-center space-x-2 rounded-3xl p-2 transition-all duration-300 ease-in-out"
						>
							<img
								class="w-8 rounded-2xl border-1 border-solid"
								src="https://png.pngtree.com/png-vector/20220807/ourmid/pngtree-man-avatar-wearing-gray-suit-png-image_6102786.png"
							/>
							<p>Max</p>
						</div>

						<mat-menu class="profile-menu bg-white!" #menu="matMenu">
							<a routerLink="/" mat-menu-item>
								<mat-icon class="text-font!">manage_accounts</mat-icon>
								<span class="text-font!">Profile</span>
							</a>
							<a routerLink="account/orders" mat-menu-item>
								<mat-icon class="text-font!">shopping_bag</mat-icon>
								<span class="text-font!">Orders </span>
							</a>
							<a routerLink="/" mat-menu-item>
								<mat-icon class="text-font!">logout</mat-icon>
								<span class="text-font!"> Logout</span>
							</a>
						</mat-menu>
					</div>
				</div>

				<button
					class="flex lg:hidden!"
					mat-icon-button
					[class]="{ invisible: sidenavOpen() }"
					(click)="sidenavOpen.set(!sidenavOpen())"
				>
					<mat-icon class="h-16 w-16 items-center justify-center">
						menu</mat-icon
					>
				</button>
			</div>
		</div>
		<app-navbar-content
			[content]="content().men"
			(hideNavContent)="hideNavContent()"
			[showWomenContent]="showWomenContent()"
			[showMenContent]="showMenContent()"
		/>
		<app-navbar-content
			(hideNavContent)="hideNavContent()"
			[content]="content().women"
			[showWomenContent]="showWomenContent()"
			[showMenContent]="showMenContent()"
		/>
	</div>
</nav>
