<div class="box p-4">
	<h3 class="pb-1 text-lg font-semibold">Product Ratings</h3>

	<div class="flex items-center gap-x-3 pb-10">
		<app-star-rating />
		<p class="opacity-60">54323 Ratings</p>
	</div>

	<div class="space-y-3 text-center">
		<div class="grid grid-cols-12 items-center justify-around gap-2 text-left">
			<!-- TODO dodac do kazdego produktu ratings, i na podstawie tego wyswietlac -->
			@for (rating of ratingCategories; track rating.id) {
				<div class="col-span-2">
					<span>{{ rating.name }}</span>
				</div>
				<div class="col-span-8 px-4">
					<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
				</div>
				<div class="col-span-2">
					<span class="opacity-50">31233</span>
				</div>
			}
		</div>
	</div>
</div>
