<div class="box p-4">
	<h3 class="pb-1 text-lg font-semibold">Product Ratings</h3>

	<div class="flex items-center gap-x-3 pb-10">
		<app-star-rating [rating]="mostPopularRating()" />
		<p class="opacity-60">{{ numberOfRatings() }}</p>
	</div>

	<div class="space-y-3 text-center">
		<div class="grid grid-cols-12 items-center justify-around gap-2">
			@for (rating of ratingCategories; track rating.id) {
				<div class="col-span-3 text-left">
					<span>{{ rating.name }}</span>
				</div>
				<div class="col-span-6 px-4">
					<mat-progress-bar
						mode="determinate"
						[value]="ratings()![rating.id]"
					></mat-progress-bar>
				</div>
				<div class="col-span-3">
					<span class="opacity-50">{{ ratings()![rating.id] }}</span>
				</div>
			}
		</div>
	</div>
</div>
