<div
	class="text-font items-center gap-2 transition-all duration-200 ease-in-out lg:flex"
>
	@if (user()) {
		<div>
			<div
				[matMenuTriggerFor]="menu"
				class="hover:text-primary flex cursor-pointer items-center space-x-2 rounded-3xl p-2 transition-all duration-300 ease-in-out"
			>
				<img
					class="mr-0 w-8 rounded-2xl border-1 border-solid md:mr-2!"
					[src]="user()?.avatarImg ?? 'default-user-icon.png'"
					aria-label="your avatar"
				/>
				<p class="hidden md:inline">{{ user()?.firstName }}</p>
			</div>

			<mat-menu class="profile-menu bg-white!" #menu="matMenu">
				<a routerLink="profile" mat-menu-item>
					<mat-icon class="text-font!">manage_accounts</mat-icon>
					<span class="text-font!">Profile</span>
				</a>
				<a routerLink="account/orders" mat-menu-item>
					<mat-icon class="text-font!">shopping_bag</mat-icon>
					<span class="text-font!">Orders </span>
				</a>
				<a routerLink="/" mat-menu-item (click)="logout()">
					<mat-icon class="text-font!">logout</mat-icon>
					<span class="text-font!"> Logout</span>
				</a>
			</mat-menu>
		</div>
	} @else {
		<button
			(click)="openLoginDialog()"
			mat-icon-button
			class="button flex! items-center! justify-center! p-2 md:hidden!"
		>
			<mat-icon>login</mat-icon>
			<span class="hidden md:inline">LOGIN</span>
		</button>

		<button
			(click)="openLoginDialog()"
			mat-raised-button
			class="button hidden! p-2 md:flex!"
		>
			<mat-icon>login</mat-icon>
			<span class="hidden md:inline">LOGIN</span>
		</button>
	}
</div>
