<main class="flex min-h-[80vh] items-center justify-center">
	@if ((cart()?.totalItem ?? 0) !== 0) {
		<div class="container mt-20 mb-4 md:m-10">
			<h1 class="py-10 text-center text-3xl font-semibold uppercase">
				Chose Your Address
			</h1>

			<div class="container">
				<div class="grid grid-cols-1 gap-4 px-5 lg:grid-cols-12 xl:px-20">
					@if (addresses()?.length !== 0) {
						<div class="col-span-1 lg:col-span-5">
							<app-address-list
								(orderAddress)="createOrder($event)"
								[addresses]="addresses()"
								[mode]="'delivery'"
							/>
						</div>
					}
					<div
						class="col-span-1 lg:col-span-7"
						[class.lg:col-start-3]="(addresses()?.length ?? 0) === 0"
						[class.lg:col-span-8]="(addresses()?.length ?? 0) === 0"
					>
						<app-checkout-address-form (address)="createOrder($event)" />
					</div>
				</div>
			</div>
		</div>
	} @else {
		<app-empty-state-message
			>If nothings appeared here, <strong>log in</strong> or
			<strong> sing in </strong> or
			<strong>add something to cart</strong></app-empty-state-message
		>
	}
</main>
