/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
	--color-primary: #89361b;
	--color-accent: #e9d4c1;
	--color-font: #000000;
	--color-background: #0b0b0b;
	--color-footer-bg: #8b3a24;
}

:root {
	// Angular Material button styling

	--mdc-filled-button-label-text-color: white;
	--mdc-filled-button-container-color: black;
	--mdc-protected-button-container-color: white;
	--mdc-protected-button-label-text-color: black;
	--mdc-protected-button-hover-state-layer-color: black;
}

body {
	margin: 0;
	background-color: #0b0b0b;
	color: white;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.box {
	box-shadow: --box-shadow;
}

.hideScrollbar::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	font-size: 16px;
}
