<div class="box rounded-md p-5">
	<div class="pb-8 font-bold text-gray-500 uppercase">price details</div>
	<mat-divider />

	<div class="space-y-3 pb-8">
		<div class="flex justify-between pt-3">
			<span>Total Price</span>
			<span>{{ totalPrice() | currency: "INR" }}</span>
		</div>
		<div class="flex justify-between pt-3">
			<span>Total Discount</span>
			<span class="text-green-700">-{{ discount() | currency: "INR" }}</span>
		</div>
		<div class="flex justify-between pt-3">
			<span>Delivery Charges</span>
			<span class="text-green-700">Free</span>
		</div>
		<mat-divider />
		<div class="flex justify-between pt-3">
			<span>Total Amount</span>
			<span class="text-green-700">{{
				totalDiscountedPrice() | currency: "INR"
			}}</span>
		</div>
	</div>

	<ng-content></ng-content>
</div>
