<div class="flex flex-col">
	<button
		class="hover:text-primary flex cursor-pointer justify-between p-2 text-start text-2xl"
		(click)="toggleAccordion.set(!toggleAccordion())"
	>
		<span class="flex w-full items-center justify-between">
			{{ content().name }}
			<mat-icon>{{ !toggleAccordion() ? "add" : "remove" }}</mat-icon>
		</span>
	</button>

	@if (toggleAccordion()) {
		<div class="flex flex-col pb-4 pl-2">
			@for (section of content().sections; track section.id) {
				<app-accordion
					class="block w-full items-start lg:hidden"
					[name]="section.name"
				>
					@for (item of section.items; track item.id) {
						<a
							class="hover:text-primary cursor-pointer p-2 pl-2"
							routerLink="/"
							>{{ item.name }}</a
						>
					}
				</app-accordion>
			}
		</div>
	}
</div>
