<footer>
	<div class="flex justify-center bg-white p-8 text-black">
		<div class="container flex flex-col space-x-8 lg:flex-row">
			<address class="w-full pb-3 not-italic sm:w-auto">
				<h3 class="pb-3 text-xl">Contact Us</h3>
				@for (item of footerContact(); track item.link) {
					<a
						[href]="item.link"
						target="_blank"
						class="hover:text-primary flex flex-col items-center gap-3 p-2 text-center sm:flex-row sm:text-start"
					>
						<mat-icon>{{ item.icon }}</mat-icon>
						<p>{{ item.text }}</p>
					</a>
				}
			</address>

			<div
				class="container flex flex-col items-center gap-y-2 lg:w-full lg:flex-row lg:items-start lg:justify-evenly lg:space-y-0"
			>
				@for (item of footerContent(); track item.id) {
					<app-accordion
						class="block w-full items-start lg:hidden"
						[name]="item.name"
					>
						<ng-container [ngTemplateOutlet]="accordionContent"> </ng-container>
					</app-accordion>

					<div class="hidden w-full lg:block">
						<p class="text-xl">{{ item.name }}</p>
						<ng-container [ngTemplateOutlet]="accordionContent" />
					</div>

					<ng-template #accordionContent>
						<div class="flex w-full flex-col">
							<ul class="space-y-2">
								@for (content of item.items; track content.id) {
									<li>
										<a
											class="hover:text-primary w-full p-2"
											[routerLink]="[
												'/products',
												content.gender,
												'clothing',
												content.id,
											]"
											>{{ content.name }}</a
										>
									</li>
								}
							</ul>
						</div>
					</ng-template>
				}
			</div>
		</div>
	</div>
	<h3 class="hover:text-primary bg-white py-3 text-center text-black">
		<a href="https://github.com/m4Ks-xyz" target="_blank">
			Hindu Clothes | Maksymilian Tomowiak &copy; 2025
		</a>
	</h3>
</footer>
