<form [formGroup]="form" class="flex flex-col items-center justify-center">
	<mat-form-field class="w-full">
		<mat-label>First Name</mat-label>
		<input
			type="text"
			matInput
			formControlName="firstName"
			placeholder="Name"
		/>
		@if (form.controls.firstName.hasError("minlength")) {
			<mat-error>3 <strong>characters</strong> or more</mat-error>
		}
		@if (form.controls.firstName.hasError("required")) {
			<mat-error>Name is <strong>required</strong></mat-error>
		}
	</mat-form-field>

	<mat-form-field class="w-full">
		<mat-label>Last Name</mat-label>
		<input
			type="text"
			matInput
			formControlName="lastName"
			placeholder="Last Name"
		/>
		@if (form.controls.lastName.hasError("minlength")) {
			<mat-error>3 <strong>characters</strong> or more</mat-error>
		}
		@if (form.controls.lastName.hasError("required")) {
			<mat-error>Last name is <strong>required</strong></mat-error>
		}
	</mat-form-field>

	<mat-form-field class="w-full">
		<mat-label>E-mail</mat-label>
		<input
			type="email"
			matInput
			formControlName="email"
			placeholder="name@example.com"
		/>
		@if (
			form.controls.email.hasError("email") &&
			!form.controls.email.hasError("required")
		) {
			<mat-error>Please enter a valid email address</mat-error>
		}
		@if (form.controls.email.hasError("required")) {
			<mat-error>Email is <strong>required</strong></mat-error>
		}
	</mat-form-field>
	<mat-form-field class="w-full">
		<mat-label>Password</mat-label>
		<input type="password" matInput formControlName="password" />
		@if (form.controls.password.hasError("minlength")) {
			<mat-error>8 <strong>characters</strong> or more</mat-error>
		}
		@if (form.controls.password.hasError("required")) {
			<mat-error>Password is <strong>required</strong></mat-error>
		}
	</mat-form-field>
	<app-auth-form-dialog-status
		class="self-start"
		(haveAccountToggle)="toggleAccountStatus.emit()"
		><p accountStatusText>Already have account ?</p>
		<span accountStatusButtonText>Sign In</span></app-auth-form-dialog-status
	>
	<app-auth-form-dialog-actions class="self-end" (formSubmited)="onSubmit()">
		<span submitButtonText>Register</span>
	</app-auth-form-dialog-actions>
</form>
